*.sw?
.#*
*#
*~
.classpath
.project
.settings
bin
build
target
dependency-reduced-pom.xml
*.sublime-*
/scratch
.gradle
README.html
*.iml
.idea
.mvn/
gradle/
gradlew.bat
gradlew
build.gradle
mvnw.cmd
mvnw
manifest.yml
